<p>Edit password!</p>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
  <div class="field">
    <label for="website" class="label">Website</label>
    <div class="control">
      <input id="website" formControlName="website" class="input" type="text" placeholder="Website" />
    </div>
    <pm-form-error-message [form]="passwordForm" [errors]="errors" nameField="website"></pm-form-error-message>
  </div>
  <div class="field">
    <label for="username" class="label">Username</label>
    <div class="control">
      <input id="username" formControlName="username" class="input" type="text" placeholder="username" />
    </div>
    <pm-form-error-message [form]="passwordForm" [errors]="errors" nameField="username"></pm-form-error-message>
  </div>

    <div class="field">
      <label for="password" class="label">Password</label>
      <div class="control">
        <input id="password" formControlName="password" class="input" type="password" placeholder="password" />
      </div>
      <pm-form-error-message [form]="passwordForm" [errors]="errors" nameField="password"></pm-form-error-message>
    </div>

  <button [attr.disabled]="!passwordForm.valid ? 'disabled' : null" class="button is-primary" type="submit">Edit</button>
</form>
