<div class="columns is-mobile has-table-bg">
    <div class="column is-one-quarter">
      <a class="link" [href]="password?.website" target="_blank"> {{ password?.website }}</a>
    </div>
    <div class="column is-one-quarter">
      {{ password?.username }}
    </div>
    <div class="column is-one-quarter">
      <input
        class="input has-table-bg"
        readonly
        [value]="password?.password"
      />
    </div>
    <div class="column is-one-quarter">
      <p class="buttons">

      </p>
    </div>
  </div>
